[Desktop Entry]
Categories=Game;
Exec=multimc-launcher
Icon=multimc
Keywords=game;Minecraft;
Name=MultiMC 5
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
